#submit-button {
  background: linear-gradient(100.5deg, #f8a170 14.73%, #ffcd61 97.52%);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 10px 40px rgba(248, 161, 112, 0.2);
  display: flex;
  flex-direction: row;
  font-weight: 600 !important;
  justify-content: center;
  /*color: black;*/
  margin-bottom: 1vh;
  /* orange-gradient */
  margin-top: 2.5vh;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;
}
