#activities {
  text-transform: capitalize;
}

.hotel-hero-image {
  height: 55vh;
  object-fit: cover;
}

#hotel-location {
  font-weight: 800;
  text-transform: uppercase;
}

#location-text {
  text-transform: capitalize;
  color: dodgerblue !important;
}

#hotel-location {
  color: dodgerblue;
}

.iconify {
  margin: 2px 0 5px 0;
  height: 40px;
  width: 40px;
  padding: 0;
}

.feature-pricing {
  text-transform: uppercase;
  color: dodgerblue;
  margin-top: 10px;
}

.hotel-details {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 600px) {
  .hotel-hero-image {
    height: 30vh;
  }

  .photo-container .img-fluid {
    height: 30%;
  }
}

p {
  margin: 0;
}

h5 {
  margin: 0;
}

.item {
  border: 1px solid rgba(100, 100, 100, 0.5);
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  font-size: small;
  color: dodgerblue;
}

.features .item .name {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

.features .item .description {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
}

.information .item .description {
  color: dodgerblue;
  font-size: 1.1em;
  font-weight: bolder;
}

.photo-container {
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-container .img-fluid {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.favicon {
  margin: 0;
  height: 36px;
  width: 36px;
}
