#activities {
  text-transform: capitalize;
}

.resort-hero-image {
  height: 55vh;
  object-fit: cover;
}

#resort-location {
  color: goldenrod;
  font-weight: 800;
  text-transform: uppercase;
}

#location-text {
  color: goldenrod !important;
  text-transform: capitalize;
}

.iconify {
  height: 40px;
  margin: 2px 0 5px 0;
  padding: 0;
  width: 40px;
}

.feature-pricing {
  color: goldenrod;
  margin-top: 10px;
  text-transform: uppercase;
}

.resort-details {
  align-self: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .resort-hero-image {
    height: 30vh;
  }

  .photo-container .img-fluid {
    height: 30%;
  }

  #resort-name {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  h3,
  h4,
  h5 {
    font-size: large;
  }

  p {
    font-size: small;
  }

  .iconify {
    /*margin: 0;*/
    height: 25px;
    padding: 0;
    width: 25px;
  }

  .favicon {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .favicon .iconify {
    height: 24px;
    width: 24px;
  }
}

.favicon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favicon .iconify {
  height: 24px;
  width: 24px;
}

p {
  margin: 0;
}

h5 {
  margin: 0;
}

.item {
  border: 1px solid rgba(100, 100, 100, 0.5);
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  color: goldenrod;
  font-size: small;
}

.features .item .name {
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}

.features .item .description {
  margin-bottom: 0.6em;
  margin-top: 0.1em;
}

.information .item .description {
  color: goldenrod;
  font-weight: bolder;
}

.photo-container {
  border: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.photo-container .img-fluid {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.favicon {
  height: 36px;
  margin: 0;
  width: 36px;
}
